@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto.ttf) format('ttf'),
       url(../fonts/Roboto.woff2) format('woff2');
}

body {
  font-family: 'Roboto';
  font-size: 16px;
}